.send{
    background-color: rgb(247, 241, 241);
    position: fixed;
    z-index: 1;
    width: 38vw;
    padding: 5px;
    border-radius: 5px;
    margin-top: 1vh;
}

.messages{
    height: 68vh;
    overflow-y: scroll;
}

.messageCard{
    padding: 10px;
    width:fit-content;
    margin: 10px;
}

.userCard{
    background-color: rgb(11, 65, 226) !important;
    text-align: left !important;
    color: white !important;
    font-weight: 400;
} 

.couserCard{
    background-color: rgb(117, 29, 236) !important;
    color: white !important;
    font-weight: 400;
}
